/* --------------- Main Body CSS  ---------------*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #ece8d7;
  }

  .nav-wrapper {
    background-color: #524c48;
  }

  .brand-logo {
    margin: 8px 0px 2px 20px;
  }

  .nav-extended {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'Special Elite', serif;
  }

  main {
    flex: 1 0 auto;
  }

  /* --------------- Footer  ---------------*/
     
  #footertext {
    padding-bottom: 15px;
    font-family: 'Libre Baskerville', serif;
  }

  footer.page-footer {
    background-color: #524c48;
  }

/* --------------- Buttons ---------------*/

  .btn-large {
    background-color: #524c48;
    color: #fff;
    border-radius: 10px;
    font-family: 'Special Elite', serif;
  }

div.submitbutton {
  margin-top: 10px;
  border-radius: 10px;
}

button.btn-large {
  border-radius: 10px;
}

.cardcontent {
  font-size: 0.75em;
  font-weight: 500;
  color: white;
  font-family: 'Libre Baskerville', serif;
  }

  div.collapsecontainer {
    border-radius: 10px;
  }

  div.collapsible,
  div.collapsible-body,
  div.collapsible-header,
  div.collapsible-container {
    border: none;
    box-shadow: none;
  }

  div.collapsible-header {
    background-color: #524c48;
  }

  div.collapsible-body {
    background-color: #dfcec2;
    border-radius: 5px;
  }

  .welcomemessage {
    color: #fff;
    font-size: 1.45em;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: 'Special Elite', serif;
  }

  .welcomecard {
    margin-top: 10px;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(82,76,72));
  }

  #welcomecardheader {
    background-color: #524c48;
    color: #fff;
    font-family: 'Special Elite', serif;
  }

  #welcomepanel {
    margin-top: 20px;
    background-color: #524c48;
    background-image: url('/static/img/prateek-katyal-unsplash-books.jpg');
    background-size: cover;
    border-radius: 5px;
  }

  #loginpanel {
    border-radius: 10px;
  }

  div.card,
  div.card-panel {
    border-radius: 20px;
    background-color: #524c48;
  }

  .account {
    font-weight: 700;
  }

div.formentry {
margin-bottom: -20px;
font-family: 'Libre Baskerville', serif;
}

#modalpencil {
  border-radius: 5px;
  background-color: #fff;
  color: #524c48;
}



/*------------------------------------ MEDIA QUERIES ------------------------------------ */

