
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #817a5e;
  }

  .nav-wrapper {
    background-color: #b79d8c;
  }

  main {
    flex: 1 0 auto;
  }
     
  #footertext {
    padding-bottom: 15px;
  }

  .btn-large {
    background-color: #817a5e;
    color: #fff;
  }

  .brand-logo {
    margin: 8px 0px 2px 20px;
  }

  .cardcontent {
    font-size: 0.75em;
    font-weight: 500;
    color: white;
  }

  .collapsecontainer {
    border-radius: 10px;
  }

  .collapsible,
  .collapsible-body,
  .collapsible-header {
    border: 0!important;
    box-shadow: none!important;
  }

  .welcomemessage {
    color: #fff;
    font-size: 1.25em;

  }

  #welcomepanel {
    margin-top: 180px;
  }

  .card {
    border-radius: 20px!important;
  }