{% extends "base.html" %}
{% block content %}

<div class="row outercontainer">
    <div class="col s12 m6 offset-m3">
<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_book') }}">
<!------------------------------ Category Selection -------------------------------->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix brown-text text-darken-3"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Choose Category</option>
                    {% for category in reading_list %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
                <label for="category_name">Book category</label>
            </div>
        </div>
<!------------------------------ Book Details Form -------------------------------->
        <div class="row">
            <div class="input-field col s12 formentry">
                <i class="fas fa-pencil-alt prefix brown-text text-darken-3"></i>
                <input id="title" name="title" minlength="3" maxlength="50"
                    type="text" class="validate" required>
                <label for="title">Book title:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 formentry">
                <i class="fas fa-feather-alt prefix brown-text text-darken-3"></i>
                <input id="author" name="author" minlength="3" maxlength="50"
                    type="text" class="validate" required>
                <label for="author">Author:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 formentry">
                <i class="fas fa-masks-theater prefix brown-text text-darken-3"></i>
                <input id="genre" name="genre" minlength="5" maxlength="50"
                    type="text" class="validate" required>
                <label for="genre">Genre:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 formentry">
                <i class="fas fa-star-half-stroke prefix brown-text text-darken-3"></i>
                <input id="rating" name="rating" minlength="2" maxlength="5"
                    type="text" class="validate" placeholder="Out of 10, eg: 5/10">
                <label for="rating">Rating:</label>
            </div>
        </div>
        <!----------------------------- Release Date Picker ----------------------------->
        <div class="row">
            <div class="input-field col s12 formentry">
                <i class="fas fa-calendar-alt prefix brown-text text-darken-3"></i>
                <input id="release_date" name="release_date" type="text" class="datepicker validate" required>
                <label for="release_date">Publication Date:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 formentry">
                <i class="fas fa-book prefix brown-text text-darken-3"></i>
                <input id="publisher" name="publisher" minlength="3" maxlength="15"
                    type="text" class="validate" required>
                <label for="publisher">Publisher:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 formentry">
                <i class="fas fa-hashtag prefix brown-text text-darken-3"></i>
                <input id="page_count" name="page_count" minlength="1" maxlength="5"
                    type="text" class="validate">
                <label for="page_count">Page Count:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 formentry">
                <i class="fas fa-barcode prefix brown-text text-darken-3"></i>
                <input id="isbn" name="isbn" minlength="3" maxlength="50"
                    type="text" class="validate">
                <label for="isbn">ISBN-13</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 formentry">
                <i class="fas fa-rectangle-list prefix brown-text text-darken-3"></i>
                <input id="synopsis" name="synopsis" minlength="3" maxlength="500"
                    type="text" class="validate">
                <label for="synopsis">Synopsis</label>
            </div>
        </div>
<!------------------------------ Submit Button -------------------------------->
        <div class="row">
            <div class="col s12 center-align submitbutton">
                <button type="submit" class="btn-large brown darken-3 text-shadow">
                    Add Book <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div></div></div>

{% endblock %}