<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/58f44bc351.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Personal Library</title>
</head>

<body> 
    <header>
    <!-- Top Navigation -->
    
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Logo</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('get_books') }}">Reading List</a></li>
                <li><a href="{{ url_for('register') }}">Register/Login</a></li>
            </ul>
        </div>
    </nav>
    <!-- Mobile Navigation/ Side Nav -->
    <ul class="sidenav" id="mobile-demo">
        <li><a href="#">Reading List</a></li>
        <li><a href="{{ url_for('login') }}">Register/Login</a></li>
    </ul>
</header>

<main class="container">
    {% block content %}
    {% endblock %}
</main>

<footer class="page-footer brown lighten-2">
      <div class="container" id="footertext">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
  </footer>

    
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>