{% extends "base.html" %}
{% block content %}


<div class="row">
    <div class="col s12 m12 welcomecard">
        <h5 class="center-align welcomemessage">
            {{ username }}'s Library
        </h5>
    </div>
</div>
<br>
<div class="row ">
    <form action="{{ url_for('search') }}" method="post" class="col s8 m9 offset-m1 offset-s2">
        <div class="row center-align">
            <div class="input-field col s12 m6">
                <i class="fas fa-search prefix brown-text text-darken-3"></i>
                <input type="text" name="query" id="query" minlength="3" class="validate" required>
                <label for="query">Search Book Entries</label>
            </div>
            <div class="col s12 m6">
                <a href="{{ url_for('get_books') }}" class="red btn text-shadow darken-4 wave-effect col s12 m5 reset">Reset</a>
                <button type="submit" class="brown darken-3 white-text btn text-shadow col s12 m6 searchbutton">
                    <i class="fas fa-search left"></i> Search
                </button>
            </div>
        </div>
    </form>
</div>


        <div class="row">
            {% for book in booksread %}
            <!-- an if statement here to determine read or not depending on colour -->
            <div class="col s12 m6">
                <div class="card-panel bookcontent">
                    <span class="white-text">
                        <strong>{{ book.title }}</strong><br> by: <em>{{ book.author }}</em>
                    </span>
                    <p class="cardcontent">
                        <strong>Book Category:</strong> {{ book.category_name }}</br>
                        <strong>Genre:</strong> {{ book.genre }}<br>
                        <strong>Rating:</strong> {{ book.rating }}<br>
                        <strong>Publication date:</strong> {{ book.release_date }}<br>
                        <strong>Publisher:</strong> {{ book.publisher }}<br>
                        <strong>Page Count:</strong> {{ book.page_count }}<br>
                        <strong>ISBN-13:</strong> {{ book.isbn }}<br>
                        <strong>Synopsis:</strong> {{ book.synopsis }}<br>
                    </p>

                    <!--------------------------- Edit and Delete buttons here, Edit opens modal with Edit form --------------------------->

                    <button data-target="modal-{{'edit_book' }}" class="btn modal-trigger brown darken-3 white-text" name="edit_book"
                        id="modalpencil">
                        <a href="{{ url_for('edit_book', username=username, book_id=book._id) }}">
                            <i class="fas fa-screwdriver-wrench prefix white-text brown darken-3"></i></a>
                    </button>
                    <button data-target="modal-{{ 'delete_book' }}" class="btn modal-trigger red darken-4 white-text"
                        name="delete_book" id="modalpencil">
                        <a href="modal-{{ 'delete_book' }}">
                            <i class="fas fa-exclamation white-text"></i></a>
                    </button>
                    <!--------------------------------- Edit form Modal --------------------------------->
                    <div id="modal-{{ 'edit_book' }}" class="modal">
                        <div class="modal-content">
                            <h4>Edit Book Entry</h4>
                            <div class="row card-panel grey lighten-5">
                                <form class="col s12" method="POST"
                                    action="{{ url_for('edit_book', username=username, book_id=book._id) }}">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="fas fa-folder-open brown-text text-darken-3"></i>
                                            <select id="category_name" name="category_name" class="validate"
                                                required>
                                                <option value="" selected>Choose Category</option>
                                                {% for category in reading_list %}
                                                {% if category.category_name == book.category_name %}
                                                <option value="{{ category.category_name }}" selected>
                                                    {{ category.category_name }}</option>
                                                {% else %}
                                                <option value="{{ category.category_name }}">
                                                    {{ category.category_name }}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                            <label for="category_name">Book category</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i
                                                class="fas fa-pencil-alt prefix brown-text text-darken-3"></i>
                                            <input id="title" name="title" minlength="5" maxlength="50"
                                                type="text" class="validate" required>
                                            <label for="title">Book title</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i
                                                class="fas fa-feather-alt prefix brown-text text-darken-3"></i>
                                            <input id="author" name="author" minlength="5" maxlength="50"
                                                type="text" class="validate" required>
                                            <label for="author">Author</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i
                                                class="fas fa-masks-theater prefix brown-text text-darken-3"></i>
                                            <input id="genre" name="genre" minlength="5" maxlength="50"
                                                type="text" class="validate" required>
                                            <label for="genre">Genre</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i
                                                class="fas fa-star-half-stroke prefix brown-text text-darken-3"></i>
                                            <input id="rating" name="rating" minlength="5" maxlength="50"
                                                type="text" class="validate" required>
                                            <label for="rating">Rating</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i
                                                class="fas fa-calendar-alt prefix brown-text text-darken-3"></i>
                                            <input id="release_date" name="release_date" type="text"
                                                class="datepicker validate" required>
                                            <label for="release_date">Publication Date:</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="fas fa-book prefix brown-text text-darken-3"></i>
                                            <input id="publisher" name="publisher" minlength="5"
                                                maxlength="50" type="text" class="validate" required>
                                            <label for="publisher">Publisher</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="fas fa-hashtag prefix brown-text text-darken-3"></i>
                                            <input id="page_count" name="page_count" minlength="5"
                                                maxlength="50" type="text" class="validate" required>
                                            <label for="page_count">Page Count</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="fas fa-barcode prefix brown-text text-darken-3"></i>
                                            <input id="isbn" name="isbn" minlength="5" maxlength="50"
                                                type="text" class="validate" required>
                                            <label for="isbn">ISBN-13</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i
                                                class="fas fa-rectangle-list prefix brown-text text-darken-3"></i>
                                            <input id="synopsis" name="synopsis" minlength="5"
                                                maxlength="50" type="text" class="validate" required>
                                            <label for="synopsis">Synopsis</label>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#!" class="btn-large red darken-3 text-shadow modal-close cancelmodal col s12">
                                            Cancel <i class="fas fa-times-circle right"></i>
                                        </a>
                                        <button type="submit"
                                            class="btn-large brown darken-3 white-text text-shadow col s12">
                                            Edit Book <i class="fas fa-edit right"></i>
                                        </button>
                                    </div>
                            </div>
                            </form>
                        </div>
                    </div>
                    <!-- Delete Book Modal -->
                    <div id="modal-{{ 'delete_book' }}" class="modal deletebook">
                        <div class="modal-content">
                            <h4>CONTENT DELETION WARNING</h4>
                            <p>Are you sure that you want to delete this entry?</p>
                            <p>This cannot be undone</p>
                        </div>
                        <div class="modal-footer">
                            <a href="{{ url_for('delete_book', book_id=book._id) }}"
                                class="btn-small red accent-4" id="deletebutton">DELETE</a>
                            <a href="modal-close" class="btn-small" id="cancelbutton">Cancel</a>
                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>


<!--
<div class="row">
    <div class="col s12 m8 offset-m2 ">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header white-text text-shadow collapsecontainer">
                    Reading List
                    <div class="col s13">
                        <i class="fas fa-caret-down"></i>
                    </div>
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        {% for book in booksread %}
                        <div class="col s12 m6">
                            <div class="card-panel bookcontent">
                                <span class="white-text">
                                    <strong>{{ book.title }}</strong><br> by: <em>{{ book.author }}</em>
                                </span>
                                <p class="cardcontent">
                                    <strong>Genre:</strong> {{ book.genre }}<br>
                                    <strong>Rating:</strong> {{ book.rating }}<br>
                                    <strong>Publication date:</strong> {{ book.release_date }}<br>
                                    <strong>Publisher:</strong> {{ book.publisher }}<br>
                                    <strong>Page Count:</strong> {{ book.page_count }}<br>
                                    <strong>ISBN-13:</strong> {{ book.isbn }}<br>
                                    <strong>Synopsis:</strong> {{ book.synopsis }}<br>
                                </p>

                                <-------------------------- Edit and Delete buttons here, Edit opens modal with Edit form ---------------------------

                                <button data-target="modal-{{'edit_book' }}" class="btn modal-trigger brown darken-3 white-text" name="edit_book"
                                    id="modalpencil">
                                    <a href="{{ url_for('edit_book', username=username, book_id=book._id) }}">
                                        <i class="fas fa-screwdriver-wrench prefix white-text brown darken-3"></i></a>
                                </button>
                                <button data-target="modal-{{ 'delete_book' }}" class="btn modal-trigger red darken-4 white-text"
                                    name="delete_book" id="modalpencil">
                                    <a href="modal-{{ 'delete_book' }}">
                                        <i class="fas fa-exclamation white-text"></i></a>
                                </button>
                                --------------------------------- Edit form Modal ---------------------------------
                                <div id="modal-{{ 'edit_book' }}" class="modal">
                                    <div class="modal-content">
                                        <h4>Edit Book Entry</h4>
                                        <div class="row card-panel grey lighten-5">
                                            <form class="col s12" method="POST"
                                                action="{{ url_for('edit_book', username=username, book_id=book._id) }}">
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <i class="fas fa-folder-open brown-text text-darken-3"></i>
                                                        <select id="category_name" name="category_name" class="validate"
                                                            required>
                                                            <option value="" selected>Choose Category</option>
                                                            {% for category in reading_list %}
                                                            {% if category.category_name == book.category_name %}
                                                            <option value="{{ category.category_name }}" selected>
                                                                {{ category.category_name }}</option>
                                                            {% else %}
                                                            <option value="{{ category.category_name }}">
                                                                {{ category.category_name }}</option>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                        <label for="category_name">Book category</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <i
                                                            class="fas fa-pencil-alt prefix brown-text text-darken-3"></i>
                                                        <input id="title" name="title" minlength="5" maxlength="50"
                                                            type="text" class="validate" required>
                                                        <label for="title">Book title</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <i
                                                            class="fas fa-feather-alt prefix brown-text text-darken-3"></i>
                                                        <input id="author" name="author" minlength="5" maxlength="50"
                                                            type="text" class="validate" required>
                                                        <label for="author">Author</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <i
                                                            class="fas fa-masks-theater prefix brown-text text-darken-3"></i>
                                                        <input id="genre" name="genre" minlength="5" maxlength="50"
                                                            type="text" class="validate" required>
                                                        <label for="genre">Genre</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <i
                                                            class="fas fa-star-half-stroke prefix brown-text text-darken-3"></i>
                                                        <input id="rating" name="rating" minlength="5" maxlength="50"
                                                            type="text" class="validate" required>
                                                        <label for="rating">Rating</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <i
                                                            class="fas fa-calendar-alt prefix brown-text text-darken-3"></i>
                                                        <input id="release_date" name="release_date" type="text"
                                                            class="datepicker validate" required>
                                                        <label for="release_date">Publication Date:</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <i class="fas fa-book prefix brown-text text-darken-3"></i>
                                                        <input id="publisher" name="publisher" minlength="5"
                                                            maxlength="50" type="text" class="validate" required>
                                                        <label for="publisher">Publisher</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <i class="fas fa-hashtag prefix brown-text text-darken-3"></i>
                                                        <input id="page_count" name="page_count" minlength="5"
                                                            maxlength="50" type="text" class="validate" required>
                                                        <label for="page_count">Page Count</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <i class="fas fa-barcode prefix brown-text text-darken-3"></i>
                                                        <input id="isbn" name="isbn" minlength="5" maxlength="50"
                                                            type="text" class="validate" required>
                                                        <label for="isbn">ISBN-13</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <i
                                                            class="fas fa-rectangle-list prefix brown-text text-darken-3"></i>
                                                        <input id="synopsis" name="synopsis" minlength="5"
                                                            maxlength="50" type="text" class="validate" required>
                                                        <label for="synopsis">Synopsis</label>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <a href="#!" class="btn-large red darken-3 text-shadow modal-close">
                                                        Cancel <i class="fas fa-times-circle right"></i>
                                                    </a>
                                                    <button type="submit"
                                                        class="btn-large brown darken-3 white-text text-shadow">
                                                        Edit Book <i class="fas fa-edit right"></i>
                                                    </button>
                                                </div>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                               
                                <div id="modal-{{ 'delete_book' }}" class="modal deletebook">
                                    <div class="modal-content">
                                        <h4>CONTENT DELETION WARNING</h4>
                                        <p>Are you sure that you want to delete this entry?</p>
                                        <p>This cannot be undone</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{{ url_for('delete_book', book_id=book._id) }}"
                                            class="btn-small red accent-4" id="deletebutton">DELETE</a>
                                        <a href="modal-close" class="btn-small" id="cancelbutton">Cancel</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>-->

{% endblock %}