{% extends "base.html" %}
{% block content %}


<div class="row">
    <div class="col s12 m4 l8">
        <h5 class="center-align welcomemessage">
            {{ username }}'s Library
        </h5>
    </div>
</div>

<!-- Side nav -->
<!-- Add new book
(Edit book will have a delete function)-->

<!-- Is there a way to move one to another, like from reading list to read, preorder to reading list... -->

<!-- Search box here with data showing underneath in a div -->
<div class="row">
    <div class="col s12 m8 offset-m2 ">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header white-text brown darken-4 text-shadow collapsecontainer">Books Read
                    <div class="col s13">
                        <i class="fas fa-caret-down"></i>
                    </div>
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        {% for book in booksread %}
                        <div class="col s12 m4">
                            <div class="card-panel teal">
                                <span class="white-text">
                                    <strong>{{ book.title }}</strong><br> by: <em>{{ book.author }}</em>
                                </span>
                                <p class="cardcontent">
                                    <strong>Genre:</strong> {{ book.genre }}<br>
                                    <strong>Rating:</strong> {{ book.rating }}<br>
                                    Publication date: {{ book.release_date }}<br>
                                    Publisher: {{ book.publisher }}<br>
                                    Page Count: {{ book.page_count }}<br>
                                    ISBN-13: {{ book.isbn }}
                                </p>
                                <!-- Edit button here -->
                                <button data-target="modal1" class="btn modal-trigger" name="edit_book">
                                    <i class="fas fa-pencil prefix"></i>
                                </button>
                                <div id="modal1" class="modal">
                                    <div class="modal-content">
                                      <h4>Edit Book Entry</h4>
                                     <!-- Edit form goes here -->
                                     <div class="row">
                                        <form class="col s12">
                                          <div class="row">
                                            <div class="input-field col s6">
                                              <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                                              <label for="first_name">First Name</label>
                                            </div>
                                            <div class="input-field col s6">
                                              <input id="last_name" type="text" class="validate">
                                              <label for="last_name">Last Name</label>
                                            </div>
                                          </div>
                                          <div class="row">
                                            <div class="input-field col s12">
                                              <input disabled value="I am not editable" id="disabled" type="text" class="validate">
                                              <label for="disabled">Disabled</label>
                                            </div>
                                          </div>
                                          <div class="row">
                                            <div class="input-field col s12">
                                              <input id="password" type="password" class="validate">
                                              <label for="password">Password</label>
                                            </div>
                                          </div>
                                          <div class="row">
                                            <div class="input-field col s12">
                                              <input id="email" type="email" class="validate">
                                              <label for="email">Email</label>
                                            </div>
                                          </div>
                                          <div class="row">
                                            <div class="col s12">
                                              This is an inline input field:
                                              <div class="input-field inline">
                                                <input id="email_inline" type="email" class="validate">
                                                <label for="email_inline">Email</label>
                                                <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
                                              </div>
                                            </div>
                                          </div>
                                        </form>
                                      </div>
                                            
                                     
                                    </div>
                                    <div class="modal-footer">
                                        <!-- Submit and Cancel buttons -->
                                      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col s12 m8 offset-m2 ">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header white-text brown darken-4 text-shadow collapsecontainer">Unread Books
                    <div class="col s13">
                        <i class="fas fa-caret-down"></i>
                    </div>
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        {% for books in bookstoberead %}
                        <div class="col s12 m4">
                            <div class="card-panel teal">
                                <span class="white-text">
                                    <strong>{{ books.title }}</strong><br> by: <em>{{ books.author }}</em>
                                </span>
                                <p class="cardcontent">
                                    <strong>Genre:</strong> {{ books.genre }}<br>
                                    Publication date: {{ books.release_date }}<br>
                                    Publisher: {{ books.publisher }}<br>
                                    Page Count: {{ books.page_count }}<br>
                                    ISBN-13: {{ books.isbn }}
                                </p>

                                <!-- Edit button here -->
                                <!-- Cancel also -->
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </li>
        </ul>
    </div>
</div>

{% endblock %}