{% extends "base.html" %}
{% block content %}


<div class="row">
    <div class="col s12 m12 welcomecard">
        <h5 class="center-align welcomemessage">
            {{ username }}'s Library
        </h5>
    </div>
</div>


<!-- Is there a way to move one to another, like from reading list to read, preorder to reading list... -->

<!-- Search box here with data showing underneath in a div -->

<!-- Books that have been read in this box - Add a little explanation above it -->

<div class="row">
    <div class="col s12 m8 offset-m2">
        Section for a description of whats going on here. Profile welcome, add book link etc.
    </div>
</div>

<div class="row">
    <div class="col s12 m8 offset-m2 ">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header white-text text-shadow collapsecontainer">
                    Books Read
                    <div class="col s13">
                        <i class="fas fa-caret-down"></i>
                    </div>
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        {% for book in booksread %}
                        <div class="col s12 m4">
                            <div class="card-panel bookcontent">
                                <span class="white-text">
                                    <strong>{{ book.title }}</strong><br> by: <em>{{ book.author }}</em>
                                </span>
                                <p class="cardcontent">
                                    <strong>Genre:</strong> {{ book.genre }}<br>
                                    <strong>Rating:</strong> {{ book.rating }}<br>
                                    Publication date: {{ book.release_date }}<br>
                                    Publisher: {{ book.publisher }}<br>
                                    Page Count: {{ book.page_count }}<br>
                                    ISBN-13: {{ book.isbn }}
                                </p>

 <!--------------------------- Edit button here, opens modal with Edit form --------------------------->

                                <button data-target="modal1" class="btn modal-trigger" name="edit_book" id="modalpencil">
                                    <i class="fas fa-pencil prefix"></i>
                                </button>
                                <div id="modal1" class="modal">
                                    <div class="modal-content">
                                        <h4>Edit Book Entry</h4>
<!--------------------------------- Edit form container --------------------------------->

                                        <div class="row card-panel grey lighten-5">
                                            <form class="col s12" method="POST"
                                                action="{{ url_for('edit_book', book_id=book_id, username=username) }}">
<!----------------------------- Category selection dropdown menu ----------------------------->

                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <i class="fas fa-folder-open brown-text text-darken-3"></i>
                                                        <select id="category_name" name="category_name" class="validate"
                                                            required>
                                                            <option value="" disabled selected>Choose Category</option>
                                                            {% for category in reading_list %}
                                                            <option value="{{ category.category_name }}">
                                                                {{ category.category_name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <label for="category_name">Book category</label>
                                                    </div>
                                                </div>
                                                <!-----------------------------  Book Title  ----------------------------->
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <i
                                                            class="fas fa-pencil-alt prefix brown-text text-darken-3"></i>
                                                        <input id="title" name="title" minlength="5" maxlength="50"
                                                            type="text" class="validate" required>
                                                        <label for="title">Book title</label>
                                                    </div>
                                                </div>
                                                <!-----------------------------  Book Author  ----------------------------->
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <i
                                                            class="fas fa-feather-alt prefix brown-text text-darken-3"></i>
                                                        <input id="author" name="author" minlength="5" maxlength="50"
                                                            type="text" class="validate" required>
                                                        <label for="author">Author</label>
                                                    </div>
                                                </div>
                                                <!-----------------------------  Genre  ----------------------------->
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <i
                                                            class="fas fa-masks-theatre prefix brown-text text-darken-3"></i>
                                                        <input id="genre" name="genre" minlength="5" maxlength="50"
                                                            type="text" class="validate" required>
                                                        <label for="genre">Genre</label>
                                                    </div>
                                                </div>
                                                <!-----------------------------  Book Rating  ----------------------------->
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <i
                                                            class="fas fa-star-half-stroke-alt prefix brown-text text-darken-3"></i>
                                                        <input id="rating" name="rating" minlength="5" maxlength="50"
                                                            type="text" class="validate" required>
                                                        <label for="rating">Rating</label>
                                                    </div>
                                                </div>
                                        <!------------------------------- Release/Publication Date Picker ------------------------------->
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <i
                                                            class="fas fa-calendar-alt prefix brown-text text-darken-3"></i>
                                                        <input id="release_date" name="release_date" type="text"
                                                            class="datepicker validate" required>
                                                        <label for="release_date">Publication Date:</label>
                                                    </div>
                                                </div>
        <!------------------------------- Publisher ------------------------------->
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <i
                                                            class="fas fa-book-alt prefix brown-text text-darken-3"></i>
                                                        <input id="publisher" name="publisher" minlength="5"
                                                            maxlength="50" type="text" class="validate" required>
                                                        <label for="publisher">Publisher</label>
                                                    </div>
                                                </div>
         <!------------------------------- Page Count ------------------------------->
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <i
                                                            class="fas fa-hashtag-alt prefix brown-text text-darken-3"></i>
                                                        <input id="page_count" name="page_count" minlength="5"
                                                            maxlength="50" type="text" class="validate" required>
                                                        <label for="page_count">Page Count</label>
                                                    </div>
                                                </div>
        <!------------------------------- ISBN-13 entry ------------------------------->
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <i
                                                            class="fas fa-list-ol prefix brown-text text-darken-3"></i>
                                                        <input id="isbn" name="isbn" minlength="5" maxlength="50"
                                                            type="text" class="validate" required>
                                                        <label for="isbn">ISBN-13</label>
                                                    </div>
                                                </div>
<div class="modal-footer">
        <!------------------------------- Cancel Edit Button ------------------------------->
                                                        <a href="#!" class="btn-large red darken-3 text-shadow modal-close">
                                                            Cancel <i class="fas fa-times-circle right"></i>
                                                        </a>
        <!------------------------------- Submit Changes Button ------------------------------->
                                                        <button type="submit" class="btn-large brown darken-3 white-text text-shadow">
                                                            Edit Book <i class="fas fa-edit right"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        {% endfor %}
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col s12 m8 offset-m2 ">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header white-text text-shadow collapsecontainer">Unread Books
                    <div class="col s13">
                        <i class="fas fa-caret-down"></i>
                    </div>
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        {% for books in bookstoberead %}
                        <div class="col s12 m4">
                            <div class="card-panel">
                                <span class="white-text">
                                    <strong>{{ books.title }}</strong><br> by: <em>{{ books.author }}</em>
                                </span>
                                <p class="cardcontent white-text">
                                    <strong>Genre:</strong> {{ books.genre }}<br>
                                    Publication date: {{ books.release_date }}<br>
                                    Publisher: {{ books.publisher }}<br>
                                    Page Count: {{ books.page_count }}<br>
                                    ISBN-13: {{ books.isbn }}
                                </p>

                                <!-- Edit button here -->
                                <!-- Cancel also -->
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </li>
        </ul>
    </div>
</div>

{% endblock %}